/* Banner */
.ban-container {
    width: 100%;
    height: 12vw;
    max-height: 240px;
    position: relative;
    display: block;
}

.ban-container img {
    width: 100%;
}

.ban-container div {
    width: 100%;
    height: 100%;
    max-height: 240px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin: auto;
    position: absolute;
}

.ban-container a {
    vertical-align: middle;
    color: #FFFFFF;
    font-family: 'Abhaya Libre', serif;
    text-decoration: none;
    font-size: 36px;
    letter-spacing: 3px;
}

@media only screen and (max-width: 1200px){
    .ban-container a {
        font-size: 20px;
    }
}