.container-back {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(245,242,237,0.4);
    background-image: url("../img/info_background.jpeg");
    background-size: cover;
    background-blend-mode: color-burn;
    overflow: hidden;
    position: relative;
}

.info-container {
    width: 83%;
    display: flex;
    height: 100vh;
}

@media only screen and (max-width: 1200px){
    .info-container {
        height: auto;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* Column 1 */
.info-box1 {
    margin-top: 1px;
    margin-left: 1vw;
}

.info-box1 img {
    width: 33vw;
    margin-top: 15vh;
    margin-bottom: 5vh;
    border-radius: 4px;
}

@media only screen and (max-width: 1200px){
    .info-box1 {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .info-box1 img {
        width: 80vw;
        border-radius: 4px;
        margin: 10px;
    }
}
/*  */

/* Text box and vertical line */
.info-box1-align {
    margin-top: 18vh;
}

.info-box1 span {
    display: flex;
    height: 190px;
    width: 3px;
    background-color: #000000;
    position: absolute;
    margin-left: 2vw;
    z-index: 1;
}

@media only screen and (max-width: 1415px) and (min-width: 1200px) {
    .info-box1-align {
        margin-top: 170px;
    }
    .info-box1 span {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    .info-box1-align {
        margin-top: 10px;
        /* display: flex;
        flex-wrap: wrap;
        justify-content: center; */
        position: relative;
    }
    .info-box1 span {
        display: none;
    }
}
/*  */

/* Column 2 */
.info-box2 {
    margin-top: 1px;
    display: flex;
    flex-wrap: wrap;
}

.info-box2-align {
    margin-top: 20vh;
    margin-left: 14vw;
    position: absolute;
}

.info-box2 span {
    height: 3px;
    width: 9.5vw;
    background-color: #000000;
    position: absolute;
    margin-top: 26vh;
    margin-left: -6vw;
    z-index: 1;
}

/* Horizontal line */
@media only screen and (max-width: 1415px) {
    .info-box2 span {
        display: none;
    }
}

/* Image container in right column */
.info-box2-img-container {
    width: 45vw;
    /* height: 90vh; */
    margin-left: 1vw;
}

.info-box2-img-container img {
    width: 480px;
    aspect-ratio: 3/2;
    border-radius: 8px;
}

.info-box2-img-container div {
    width: fit-content;
    height: fit-content;
    padding: 20px 15px 15px 15px;
    background-color: #FFFFFF;
    border-radius: 8px;
    position: absolute;
}

.info-box2-text-container {
    width: 45vw;
    /* display: flex; */
}

/* Box2 - Image/Frame size and align (w>1415, 1200<w<1415) */
@media only screen and (min-width: 1415px) {
    /* Image1 */
    .info-box2-img-1 {
        margin: 80px 0 0 40px;
        rotate: -8deg;
    }

    /* Image2 */
    .info-box2-img-2 {
        margin: 50px 0 0 480px;
        rotate: 10deg;
    }

    /* Image3 */
    .info-box2-img-3 {
        margin: 230px 0 0 240px;
    }

    /* Vertical line (only exist when w>1415) */
    .info-box2-align a {
        height: 13vh;
        width: 3px;
        background-color: #000000;
        position: absolute;
        margin-top: 17vh;
        margin-left: 20vw;
    }    
}

@media only screen and (max-width: 1415px) and (min-width: 1200px) {
    /* Image1 */
    .info-box2-img-1 {
        margin: 40px 0 0 40px;
    }

    /* Image2 */
    .info-box2-img-2 {
        margin: 140px 0 0 120px;
    }

    /* Image3 */
    .info-box2-img-3 {
        margin: 240px 0 0 20px;
    }
}

@media only screen and (max-width: 1200px){
    .info-box2 {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-box2-img-container {
        width: 80vw;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-box2-img-container div {
        position: relative;
        display: inline-flex;
        margin-top: 20px;
    }

    .info-box2-text-container {
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-box2-align {
        margin: 10px;
        position: relative;
    }
}