body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    /* height: 92vh; */
    display: flex;
    justify-content: center;
    background-color: #F5F2ED;
    overflow: hidden;
}

.main-container {
    margin-top: 5.5vh;
    width: 83%;
    height: 87vh;
    display: inline-flex;
}

/* Column 1 */
.main-box1 {
    margin-top: 1.5vh;
}

.main-box1 img {
    width: 25vw;
    margin-top: 5.5vh;
}

/* Horizontal line */
.main-box1 span {
    display: flex;
    height: 3px;
    width: 200px;
    background-color: #000000;
    position: relative;
    margin-top: -74vh;
    margin-left: 18vw;
    z-index: 1;
}

/* Column 2 */
.main-box2 {
    margin-top: 0.5vh;
    margin-left: -1vw;
}

.main-box2 img {
    width: 18vw;
    margin-top: 8.5vh;
    margin-left: 6vw;
    padding: 30px;
    background-color: #FFFFFF;
    display: flex;
}

/* Vertical line */
.main-box2 span {
    display: flex;
    float: left;
    height: 70vh;
    width: 3px;
    background-color: #000000;
    position: relative;
    margin-top: -10vh;
    margin-left: 2vw;
    z-index: 1;
}

/* Column 3 */
.main-box3 {
    margin-left: 4vw;
}

.main-box3 img {
    width: 24vw;
    position: relative;
}

/* Horizontal line */
.main-box3 span {
    display: flex;
    height: 3px;
    width: 40vw;
    background-color: #000000;
    position: relative;
    margin-top: 8vh;
    margin-left: -5vw;
    z-index: 1;
    /* overflow: hidden; */
}
