body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    height: 92vh;
    display: flex;
    justify-content: center;
    background-color: #F5F2ED;
}

.main-container {
    margin-top: 5.5vh;
    width: 83%;
    /* background-color: aquamarine; */
    display: inline-flex;
}

.main-box1 {
    margin-top: 1.5vh;
    width: fit-content;
    height: fit-content;
}

.main-title {
    /* margin-top: 1.5vh; */
    width: fit-content;
    height: fit-content;
    padding: 20px 30px 20px 30px;
    border: 1.5px solid #000000;
}

.main-title a {
    color: #000000;
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 36px;
}

.main-title::after {
    content: '';
    display: inline-flex;
    height: 3px;
    width: 200px;
    background-color: #000000;
    position: fixed;
    margin-top: -2.5vh;
    margin-left: 4.5vw;
  }

.main-box1 img {
    width: 25vw;
    margin-top: 5.5vh;
}

.main-box2 {
    margin-top: 0.5vh;
    margin-left: 2vw;
    width: fit-content;
    height: fit-content;
}

.main-text {
    width: fit-content;
    height: fit-content;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF;
    text-align: justify;
}

.main-text p {
    width: 350px;
    color: #000000;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

.main-text p::before {
    content: '';
    display: inline-flex;
    height: 75vh;
    width: 3px;
    background-color: #000000;
    position: fixed;
    margin-top: 11vh;
}

.main-text p::after {
    content: '';
    display: inline-flex;
    height: 3px;
    width: 60vw;
    background-color: #000000;
    position: fixed;
    margin-top: 63vh;
    margin-left: 8vw;
}

.main-box2 img {
    width: 18vw;
    margin-top: 8.5vh;
    margin-left: 6vw;
    padding: 30px;
    background-color: #FFFFFF;
}

.main-box3 {
    margin-left: 4vw;
}

.main-box3 img {
    width: 24vw;
}
