.nav_container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #6A6A6A;
}

.navbar {
    width: 83%;
    height: 8vh;
    margin: 0;
    padding: 0;
}

.navbar img {
    height: 80%;
    width: auto;
    float: left;
    padding-top: 0.7vh;
}

.navbar nav {
    float: right;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li {    
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2vh;
    padding-bottom: 3.5%;
    height: 100%;

}

.navbar li:hover {
    background-color: #585858;
}

.navbar a {
    color: #FFFFFF;
    font-family: 'Abhaya Libre', serif;
    text-decoration: none;
    font-size: 28px;
}

