.trans-main-img {
    background-image: url("../img/boba_main2.jpg");
}

.col2-text-img {
    margin-top: 60px;
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: space-around;
}

.col2-text-img div {
    width: 45%;
    height: 400px;
    /* background-color: blue; */
}

.col2-text-img p {
    font-size: 24px;
}

.col2-text-img img {
    width: 35%;
}


.food-instruction p {
    text-align: center;
    font-size: 24px;
}

.bc-food {
    width: 20%;
}

.bc-drink {
    width: 25%;
}

.food-main-img {
    width: 100vw;
    height: 600px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/nightmarket_main.jpeg");
    background-size: cover;
    position: relative;
    z-index: 2;
}