body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

h2 {
    font-family: 'Brygada 1918', serif;
    font-size: 96px;
    color: #000000;
}

h3 {
    font-family: 'Brygada 1918', serif;
    font-size: 48px;
    color: #000000;
}

h4 {
    font-family: 'Brygada 1918', serif;
    font-size: 36px;
    color: #000000;
}

h6 {
    font-family: 'Brygada 1918', serif;
    font-size: 24px;
    color: #000000;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #000000;
}

a {
    font-family: 'Brygada 1918', serif;
    font-size: 36px;
    color: #000000;
}


.main-background-img {
    position: absolute;
    width: 100vw;
    height: 800px;
    z-index: -1;
}

.cover-linear {
    width: 100vw;
    height: 800px;
    background-image: linear-gradient(to bottom, rgba(36,35,23,0), rgba(36,35,23,1));;
}

.main-bg {
    width: 100vw;
    height: 3000px;
    background-color: #242317;
}