.nav_container {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #242317;
    opacity: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 83%;
    height: 80px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.logo_container {
    height: 80px;
    display: flex;
    align-items: center;
}

.navbar a {
    margin-left: 20px;
    color: #FFFFFF;
}

.navbar img {
    width: 50px;
    height: 50px;
    float: left;
}

.navbar nav {
    height: 80px;
    float: right;
    display: flex;
    align-items: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li {    
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    /* padding-top: 3%; */
    /* padding-bottom: 3.5%; */
    height: 100%;

}

.navbar li:hover {
    background-color: #585858;
}

.navbar a {
    color: #FFFFFF;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown ul {
    margin-left: -30px;
    margin-top: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: inherit;
    background-color: #585858;
    z-index: 1;
}

.dropdown-content li {
    float: none;
    padding: 20px 30px;
    display: block;
    text-align: left;
  }

.dropdown-content a {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
}

.dropdown-content li:hover {
    background-color: #F5F2ED;
    color: #585858;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 1200px){
    .navbar {
        width: 100vw;
        height: auto;
    }

    .navbar img {
        margin: 1.2vh;
        margin-left: 30px;
    }
}

@media only screen and (max-width: 900px){
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #drop-ul {
        width: 300px;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


