/* Text card with border and no background */
.main-title {
    width: fit-content;
    height: fit-content;
    padding: 20px 30px 20px 30px;
    border: 1.5px solid #000000;
}

.main-title a {
    color: #000000;
    font-family: 'Abhaya Libre', serif;
    text-decoration: none;
    font-size: 36px;
}


/* Text card with white background for main text*/
.main-text {
    width: fit-content;
    height: fit-content;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF;
    text-align: justify;
}

.main-text p {
    width: 18vw;
    color: #000000;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    font-size: 16px;
}


/* Text card with white background for info */
.info-text {
    width: fit-content;
    height: fit-content;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF;
    text-align: justify;
}

.info-text p {
    width: 23.4vw;
    color: #000000;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

@media only screen and (max-width: 1620px){
    .main-text {
        width: 25vw;
    }
    .main-text p {
        width: 100%;
    }
}

@media only screen and (max-width: 1415px){
    .main-text {
        width: 30vw;
    }
    .main-text p {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px){
    .main-text {
        width: 80vw;
    }
    .main-text p {
        width: 100%;
    }

    .info-text {
        width: 80vw;
    }

    .info-text p {
        width: 100%;
    }

}

@media only screen and (max-width: 650px){
    
    .main-title a {
        font-size: 28px;
    }

    .main-text {
        width: 70vw;
    }
    .main-text p {
        font-size: 12px;
    }

    .info-text {
        width: 70vw;
    }

    .info-text p {
        font-size: 12px;
    }

}